In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("IRIS.csv")

In [6]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
print(df.median())

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

C:\Users\student\AppData\Local\Temp\ipykernel_12296\4259369830.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.median())

In [7]:
print(df.mean())

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

C:\Users\student\AppData\Local\Temp\ipykernel_1556\2807316344.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean())

In [8]:
print(df.tail())

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [9]:
print(df.shape)

(150, 5)

In [10]:
print(df.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [11]:
print(df.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [12]:
print(df.info)

<bound method DataFrame.info of      sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [14]:
c=df['species']

In [15]:
print(c)

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [16]:
s=df[['sepal_length','petal_length','species']]
print(s)

     sepal_length  petal_length         species
0             5.1           1.4     Iris-setosa
1             4.9           1.4     Iris-setosa
2             4.7           1.3     Iris-setosa
3             4.6           1.5     Iris-setosa
4             5.0           1.4     Iris-setosa
..            ...           ...             ...
145           6.7           5.2  Iris-virginica
146           6.3           5.0  Iris-virginica
147           6.5           5.2  Iris-virginica
148           6.2           5.4  Iris-virginica
149           5.9           5.1  Iris-virginica

[150 rows x 3 columns]

In [17]:
print(s.head())

   sepal_length  petal_length      species
0           5.1           1.4  Iris-setosa
1           4.9           1.4  Iris-setosa
2           4.7           1.3  Iris-setosa
3           4.6           1.5  Iris-setosa
4           5.0           1.4  Iris-setosa

In [18]:


print(s.tail())

     sepal_length  petal_length         species
145           6.7           5.2  Iris-virginica
146           6.3           5.0  Iris-virginica
147           6.5           5.2  Iris-virginica
148           6.2           5.4  Iris-virginica
149           5.9           5.1  Iris-virginica

In [19]:
df.loc[0]

sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
species         Iris-setosa
Name: 0, dtype: object

In [20]:
df.loc[149]

sepal_length               5.9
sepal_width                3.0
petal_length               5.1
petal_width                1.8
species         Iris-virginica
Name: 149, dtype: object

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df.isna()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [23]:
df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [24]:
df.isnull().sum()#alternative to isna

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [25]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [26]:
df['sepal_length']=df['sepal_length'].astype(int)

In [27]:
df.dtypes

sepal_length      int32
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [28]:
df['petal_length']=df['sepal_length'].astype(int)

In [29]:
df.dtypes

sepal_length      int32
sepal_width     float64
petal_length      int32
petal_width     float64
species          object
dtype: object

In [30]:
df['sepal_width']=df['sepal_length'].astype(int)

In [31]:
df.dtypes

sepal_length      int32
sepal_width       int32
petal_length      int32
petal_width     float64
species          object
dtype: object

In [32]:
pd.get_dummies(df['species'])

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [49]:
data={
    'fname':['abhi','kiara','sam','amol','kat','smriti'],
    'lname':['pandarkar','advani','jadhav','garje','kaif','mandhana'],
    'gender':['male','female','male','male','female','female']
}

In [50]:
df1 = pd.DataFrame(data)

In [51]:
df1

    fname      lname  gender
0    abhi  pandarkar    male
1   kiara     advani  female
2     sam     jadhav    male
3    amol      garje    male
4     kat       kaif  female
5  smriti   mandhana  female

In [52]:
gen=pd.get_dummies(df1['gender'])

In [53]:
gen

   female  male
0       0     1
1       1     0
2       0     1
3       0     1
4       1     0
5       1     0