In [1]:
import nltk

In [4]:
from nltk import sent_tokenize,word_tokenize

sentence="Sachin is considered to be one of the greatest cricket players. Virat is the captain of the Indian cricket team"

print("\nWord: ",word_tokenize(sentence))
print("\nSentence: ",sent_tokenize(sentence))

Word:  ['Sachin', 'is', 'considered', 'to', 'be', 'one', 'of', 'the', 'greatest', 'cricket', 'players', '.', 'Virat', 'is', 'the', 'captain', 'of', 'the', 'Indian', 'cricket', 'team']

Sentence:  ['Sachin is considered to be one of the greatest cricket players.', 'Virat is the captain of the Indian cricket team']

In [5]:
from nltk.corpus import stopwords

stop_word=stopwords.words("English")
stop_word

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [7]:
word_token=word_tokenize(sentence)
cleaned_token=[]

for word in word_token:
    if word not in stop_word:
        cleaned_token.append(word)
        

print("\nThis is the unclean version : ",word_token)
print("\nThis is the cleaned version : ",cleaned_token)

This is the unclean version :  ['Sachin', 'is', 'considered', 'to', 'be', 'one', 'of', 'the', 'greatest', 'cricket', 'players', '.', 'Virat', 'is', 'the', 'captain', 'of', 'the', 'Indian', 'cricket', 'team']

This is the cleaned version :  ['Sachin', 'considered', 'one', 'greatest', 'cricket', 'players', '.', 'Virat', 'captain', 'Indian', 'cricket', 'team']

In [12]:
words=[cleaned_token.lower() for cleaned_token in cleaned_token if cleaned_token.isalpha()]

In [13]:
words

['sachin',
 'considered',
 'one',
 'greatest',
 'cricket',
 'players',
 'virat',
 'captain',
 'indian',
 'cricket',
 'team']

In [14]:
from nltk.stem import WordNetLemmatizer,PorterStemmer

stemmer=PorterStemmer()
Stemmer_out=[stemmer.stem(words) for words in words]

Stemmer_out

['sachin',
 'consid',
 'one',
 'greatest',
 'cricket',
 'player',
 'virat',
 'captain',
 'indian',
 'cricket',
 'team']

In [15]:
Lemmitizer=WordNetLemmatizer()
Lemmitizer_out=[Lemmitizer.lemmatize(words) for words in words]

Lemmitizer_out

['sachin',
 'considered',
 'one',
 'greatest',
 'cricket',
 'player',
 'virat',
 'captain',
 'indian',
 'cricket',
 'team']

In [16]:
from nltk import pos_tag

tagging=pos_tag(Lemmitizer_out)
tagging

[('sachin', 'NN'),
 ('considered', 'VBD'),
 ('one', 'CD'),
 ('greatest', 'JJS'),
 ('cricket', 'NN'),
 ('player', 'NN'),
 ('virat', 'NN'),
 ('captain', 'NN'),
 ('indian', 'JJ'),
 ('cricket', 'NN'),
 ('team', 'NN')]

In [2]:
docs = ['the cat see the mouse',
      'the house has a tiny little mouse',
       'the mouse ran away from the house',
        'the cat finally ate the mouse',
       'the end of the mouse story'
       ]

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

cv=CountVectorizer()
word_count_vector=cv.fit_transform(docs)

tf=pd.DataFrame(word_count_vector.toarray(),columns=cv.get_feature_names_out())
tf

,ate,away,cat,end,finally,from,has,house,little,mouse,of,ran,see,story,the,tiny
0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,2,0
1,0,0,0,0,0,0,1,1,1,1,0,0,0,0,1,1
2,0,1,0,0,0,1,0,1,0,1,0,1,0,0,2,0
3,1,0,1,0,1,0,0,0,0,1,0,0,0,0,2,0
4,0,0,0,1,0,0,0,0,0,1,1,0,0,1,2,0

In [5]:
tfidft=TfidfTransformer()

X=tfidft.fit_transform(word_count_vector)

idf=pd.DataFrame({"Feature Name":cv.get_feature_names(),"IDF Weaiht":tfidft.idf_})

idf

C:\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   Feature Name  IDF Weaiht
0           ate    2.098612
1          away    2.098612
2           cat    1.693147
3           end    2.098612
4       finally    2.098612
5          from    2.098612
6           has    2.098612
7         house    1.693147
8        little    2.098612
9         mouse    1.000000
10           of    2.098612
11          ran    2.098612
12          see    2.098612
13        story    2.098612
14          the    1.000000
15         tiny    2.098612

In [7]:
tf_idf = pd.DataFrame(X.toarray() ,columns=cv.get_feature_names())
tf_idf

C:\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,ate,away,cat,end,finally,from,has,house,little,mouse,of,ran,see,story,the,tiny
0,0.000000,0.000000,0.483344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285471,0.000000,0.000000,0.599092,0.000000,0.570941,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.493562,0.398203,0.493562,0.235185,0.000000,0.000000,0.000000,0.000000,0.235185,0.493562
2,0.000000,0.457093,0.000000,0.000000,0.000000,0.457093,0.000000,0.368780,0.000000,0.217807,0.000000,0.457093,0.000000,0.000000,0.435614,0.000000
3,0.513923,0.000000,0.414630,0.000000,0.513923,0.000000,0.000000,0.000000,0.000000,0.244887,0.000000,0.000000,0.000000,0.000000,0.489774,0.000000
4,0.000000,0.000000,0.000000,0.491753,0.000000,0.000000,0.000000,0.000000,0.000000,0.234323,0.491753,0.000000,0.000000,0.491753,0.468646,0.000000

In [1]:
import pandas as pd
import nltk
import sklearn

In [2]:
sentence="My self Doni Prathamesh from pune. i was good at programming but now i am not at expert level since last two months."

In [3]:
from nltk import word_tokenize,sent_tokenize,pos_tag

word_tokens=word_tokenize(sentence)
sentence_tokens=sent_tokenize(sentence)

word_tokens,sentence_tokens

(['My',
  'self',
  'Doni',
  'Prathamesh',
  'from',
  'pune',
  '.',
  'i',
  'was',
  'good',
  'at',
  'programming',
  'but',
  'now',
  'i',
  'am',
  'not',
  'at',
  'expert',
  'level',
  'since',
  'last',
  'two',
  'months',
  '.'],
 ['My self Doni Prathamesh from pune.',
  'i was good at programming but now i am not at expert level since last two months.'])

In [4]:
from nltk.corpus import stopwords

stop_word=stopwords.words("english")
stop_word

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [5]:
without_stop=[]

for word in word_tokens:
    if word not in stop_word:
        without_stop.append(word)
        
without_stop

['My',
 'self',
 'Doni',
 'Prathamesh',
 'pune',
 '.',
 'good',
 'programming',
 'expert',
 'level',
 'since',
 'last',
 'two',
 'months',
 '.']

In [6]:
words=[without_stop.lower() for without_stop in without_stop if without_stop.isalpha()]
words

['my',
 'self',
 'doni',
 'prathamesh',
 'pune',
 'good',
 'programming',
 'expert',
 'level',
 'since',
 'last',
 'two',
 'months']

In [9]:
from nltk.stem import PorterStemmer,WordNetLemmatizer

stemmer=PorterStemmer()
stem_out=[stemmer.stem(words) for words in words]

stem_out

['my',
 'self',
 'doni',
 'prathamesh',
 'pune',
 'good',
 'program',
 'expert',
 'level',
 'sinc',
 'last',
 'two',
 'month']

In [10]:
Lemmetizer=WordNetLemmatizer()
lemmat_out=[Lemmetizer.lemmatize(words) for words in words]

lemmat_out

['my',
 'self',
 'doni',
 'prathamesh',
 'pune',
 'good',
 'programming',
 'expert',
 'level',
 'since',
 'last',
 'two',
 'month']

In [11]:
tagging=pos_tag(words)
tagging

[('my', 'PRP$'),
 ('self', 'NN'),
 ('doni', 'NN'),
 ('prathamesh', 'JJ'),
 ('pune', 'NN'),
 ('good', 'JJ'),
 ('programming', 'NN'),
 ('expert', 'NN'),
 ('level', 'NN'),
 ('since', 'IN'),
 ('last', 'JJ'),
 ('two', 'CD'),
 ('months', 'NNS')]

In [12]:
docs = ['the cat see the mouse',
      'the house has a tiny little mouse',
       'the mouse ran away from the house',
        'the cat finally ate the mouse',
       'the end of the mouse story'
       ]

In [13]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

cv=CountVectorizer()
vector_word=cv.fit_transform(docs)

tf=pd.DataFrame(vector_word.toarray(),columns=cv.get_feature_names())
tf

C:\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,ate,away,cat,end,finally,from,has,house,little,mouse,of,ran,see,story,the,tiny
0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,2,0
1,0,0,0,0,0,0,1,1,1,1,0,0,0,0,1,1
2,0,1,0,0,0,1,0,1,0,1,0,1,0,0,2,0
3,1,0,1,0,1,0,0,0,0,1,0,0,0,0,2,0
4,0,0,0,1,0,0,0,0,0,1,1,0,0,1,2,0

In [17]:
tfidf=TfidfTransformer()

X=tfidf.fit_transform(vector_word.toarray())

idf=pd.DataFrame({"Features":cv.get_feature_names(),"IDF":tfidf.idf_})

idf

C:\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   Features       IDF
0       ate  2.098612
1      away  2.098612
2       cat  1.693147
3       end  2.098612
4   finally  2.098612
5      from  2.098612
6       has  2.098612
7     house  1.693147
8    little  2.098612
9     mouse  1.000000
10       of  2.098612
11      ran  2.098612
12      see  2.098612
13    story  2.098612
14      the  1.000000
15     tiny  2.098612

In [ ]:
tfidf=pd.DataFrame(X.toarray(),c)

In [1]:
import pandas as pd

In [3]:
# pd.concat([df,df1],axis="columns")